In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Capstone project").enableHiveSupport().getOrCreate()

In [3]:
from pyspark.sql import HiveContext as hive_context

In [4]:
#reading data into a dataframe
df=spark.sql("select * from cpstn_stdntdb.StudentCourseCompletionStatus")
df.show()

+----------+--------+----------+--------------+-----+-------------+
|studentsid|courseid|  examdate|attendedstatus|marks|       result|
+----------+--------+----------+--------------+-----+-------------+
|     S0001|   C0001|2019-02-17|      Attended|   70|    Qualified|
|     S0002|   C0002|2019-02-18|        Absent|    0|Not Qualified|
|     S0003|   C0003|2019-02-19|      Attended|   70|    Qualified|
|     S0005|   C0005|2019-02-21|        Absent|    0|Not Qualified|
|     S0006|   C0006|2019-02-22|        Absent|    0|Not Qualified|
|     S0007|   C0007|2019-02-23|        Absent|    0|Not Qualified|
|     S0008|   C0008|2019-02-24|      Attended|   70|    Qualified|
|     S0010|   C0010|2019-02-26|        Absent|    0|Not Qualified|
|     S0011|   C0011|2019-02-27|        Absent|    0|Not Qualified|
|     S0012|   C0012|2019-02-28|      Attended|   70|    Qualified|
|     S0013|   C0013|2019-03-01|      Attended|   85|    Qualified|
|     S0014|   C0014|2019-03-02|        Absent|    0|Not Qualified|
|     S0015|   C0015|2019-03-03|        Absent|    0|Not Qualified|
|     S0016|   C0016|2019-03-04|        Absent|    0|Not Qualified|
|     S0017|   C0017|2019-03-05|        Absent|    0|Not Qualified|
|     S0018|   C0018|2019-02-23|      Attended|   70|    Qualified|
|     S0019|   C0019|2019-02-18|      Attended|   75|    Qualified|
|     S0020|   C0020|2019-02-19|      Attended|   90|    Qualified|
|     S0021|   C0021|2019-02-20|      Attended|   90|    Qualified|
|     S0022|   C0022|2019-02-27|        Absent|    0|Not Qualified|
+----------+--------+----------+--------------+-----+-------------+
only showing top 20 rows

In [5]:
df2=spark.sql("select * from cpstn_stdntdb.StudentCourseDetails")
df2.show()

+--------+--------------------+--------------------+----------+--------------------+
|courseid|               title|          competency|complexity|          coursetype|
+--------+--------------------+--------------------+----------+--------------------+
|   C0001|Certificate in Cl...|           Technical|     Basic|               Cloud|
|   C0002|Certificate in Vi...|           Technical|     Basic|               Cloud|
|   C0003|"Diploma in Infor...| Networking and C...|  Security|               Cloud|
|   C0004|BE (Hons) in CSE ...|              Domain|  Advanced|               Cloud|
|   C0005|BTech in Computer...|              Domain|  Advanced|               Cloud|
|   C0006|BTech in Computer...|              Domain|  Advanced|               Cloud|
|   C0007|BCA with Microsof...|            Security|  Advanced|               Cloud|
|   C0008|BTech in Informat...|           Technical|  Advanced|               Cloud|
|   C0009|MCA with speciali...|           Technical|  Advanced|               Cloud|
|   C0010|ME in Cloud Compu...|           Technical|     Basic|               Cloud|
|   C0011|MTech Computer Sc...|           Technical|     Basic|               Cloud|
|   C0012|Bachelor’s in Com...|              Domain|     Basic|Hardware and Netw...|
|   C0013|B.Sc in Hardware ...|              Domain|  Advanced|Hardware and Netw...|
|   C0014|BTech in IT and N...|              Domain|     Basic|Hardware and Netw...|
|   C0015|BS in Hardware an...|              Domain|     Basic|Hardware and Netw...|
|   C0016|BSc in Networking...|              Domain|     Basic|Hardware and Netw...|
|   C0017|M.Tech in Network...|              Domain|  Advanced|Hardware and Netw...|
|   C0018|M.Sc in Hardware ...|              Domain|  Advanced|Hardware and Netw...|
|   C0019|MSc in Wireless N...|              Domain|  Advanced|Hardware and Netw...|
|   C0020|Diploma in Comput...|              Domain|  Advanced|Hardware and Netw...|
+--------+--------------------+--------------------+----------+--------------------+
only showing top 20 rows

In [8]:
df.groupBy('result').count()

+-------------+-----+
|       result|count|
+-------------+-----+
|Not Qualified|  149|
|    Qualified|  151|
+-------------+-----+

In [6]:
#spark.sql("select result,count(studentsid) as count from cpstn_stdntdb.StudentCourseCompletionStatus group by result")

+-------------+-----+
|       result|count|
+-------------+-----+
|Not Qualified|  149|
|    Qualified|  151|
+-------------+-----+

In [9]:
df.where(df['attendedstatus']=='Absent').count()

149

In [7]:
spark.sql("select count(studentsid) as absentCount from cpstn_stdntdb.StudentCourseCompletionStatus where attendedstatus = 'Absent'")

+-----------+
|absentCount|
+-----------+
|        149|
+-----------+

In [11]:
spark.sql("select max(marks) as maxMarks,min(marks) as minMarks,avg(marks) as averageMarks from cpstn_stdntdb.StudentCourseCompletionStatus")

+--------+--------+------------------+
|maxMarks|minMarks|      averageMarks|
+--------+--------+------------------+
|      92|       0|40.013333333333335|
+--------+--------+------------------+